# Archivo de ejemplo para despliegue y desarrollo del Frontend

# URL donde está alojado el backend y la API Rest
# En desarrollo local suele ser: http://localhost:3001/api
VITE_API_URL=https://tu-backend.onrender.com/api
